
.all-space-main{
    width: 98vw;
    height: 95vh;
}

.all-space{
    width: 95%;
    height: 100%;
}



.border-dev{
    border: 1px solid black;
}

.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}